<div class="chat-container">
  <% if @response.present? %>
    <h3>Here is an idea💡:</h3>
    <div class="text-box mt-2">
      <% paragraphs = @response.split("\n\n") %>
      <% paragraphs.each do |paragraph| %>
        <div class="chat-bubble">
          <p class="chat-text"><%= paragraph %></p>
        </div>
      <% end %>
    </div>
    <a href="/" class="text-white btn btn-primary border rounded mt-3">BACK TOP</a>
  <% else %>
    <p class="chat-text">No response from OpenAI.</p>
  <% end %>
</div>
