.button {
  text-align: center;
  color: #000;
  cursor: pointer;
  display: inline-block;
  transition: .3s;
  width: 150px;
  height: 56px;
  /* flex-shrink: 0; */
  border-radius: 25px;
  border: 1px solid #A0A0A0;
  background: #FFF;
  padding-top: 15px;
  font-weight: 600;
  text-decoration: none;
}

.button:hover {
  transition: .3s;
  background-color: #79D760;
  color:white;
}
