.button {
  text-align: center;
  color: #000;
  cursor: pointer;
  display: inline-block;
  transition: .3s;
  width: 150px;
  height: 56px;
  /* flex-shrink: 0; */
  border-radius: 25px;
  border: 0.8px solid #A0A0A0;
  background: #FFF;
  padding-top: 15px;
  font-weight: 600;
  text-decoration: none;
}

.button:hover {
  transition: .3s;
  background-color: #79D760;
  color:white;
}

/* Add this CSS to your stylesheet */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: start; /* Center horizontally */
  margin-top: 15px; /* Add margin for spacing */
}

/* Optional: Add margin to the "BACK TOP" button */
.button-container .btn:last-child {
  margin-top: 10px; /* Adjust as needed */
}
