.navbar-lewagon {
  justify-content: space-between;
  background: #79D760;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin-left: 16px;
}
